<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    </meta>
    <meta http-equiv="Content-Type" content="text/html">
    </meta>
    <title>Spring Boot Persona lab6</title>
</head>
<body>
<div>
    <h1>Spring Boot Personas </h1>
    <a href="/agregarEntrada"> add entry </a>
    <ul>
        <div th:each="entry,status : ${persona}">
            <li>
                <div></div>
                <div>
                    <div>
                        <h4><span th:text="${entry.getNombreCompleto}">NOMBRE</span></h4>
                        <p>
                            <small><i></i><span>Puesto :</span></small>
                            <small><i></i><span th:text="${entry.puesto}">APELLIDO</span></small>
                        </p>
                        <p>
                            <small><i></i><span>Edad :</span></small>
                            <small><i></i><span th:text="${entry.getEdad}">BDAY</span></small>
                            <a href="/modificar">Modificar</a>
                        </p>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>
</body>
</html>